<footer class="mt-20 border-t border-slate-200 bg-white">
  <div class="mx-auto max-w-7xl px-6 py-10">
    <h2 class="text-xl font-bold">Radar Website</h2>

    <p class="mt-2 text-slate-500">Website resmi Radar.</p>

    <p class="mt-10 text-sm text-slate-400">©2026 Radar</p>
  </div>
</footer>
