---
interface Props {
  edit: string;

  deleteId: number;
}

const { edit, deleteId } = Astro.props;
---

<div class="flex gap-3">
  <a href={edit} class="rounded-lg bg-amber-500 px-4 py-2 text-white hover:bg-amber-600"> Edit </a>

  <button data-id={deleteId} class="rounded-lg bg-red-600 px-4 py-2 text-white hover:bg-red-700">
    Hapus
  </button>
</div>
